* {
  box-sizing: border-box;
}
body {
  height: auto;
  margin-bottom: 1rem;
  background-color: whitesmoke;
}
.heading {
  padding-top: 3rem;
}
.information1 {
  width: 100%;
  height: auto;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr;
  padding-left: 0.5rem;
  grid-gap: 0.5rem;
}
.name1,
.description1 {
  margin: 0;
}
.name1 {
  margin-top: 1rem;
  text-align: center;
}
.container {
  background-color: whitesmoke;
  grid-row-gap: 1rem;
  margin: 0 auto;
}
.imageContainer1 {
  width: 100%;
  padding: 0.5rem;
  margin-top: 0.5rem;
}
.image1 {
  width: 100%;
  height: auto;
}
.form,
.reserveRes {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
}

.form,
.guests,
.date {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 0.5rem;
  align-items: center;
}
#date {
  width: 100%;
}
.form {
  grid-gap: 1rem;
}
.reserveRes {
  font-size: 1.25rem;
}
#guests,
#date {
  line-height: 1.5rem;
}
.react-datepicker-wrapper {
  width: 100%;
}
.submit {
  justify-self: start;
  padding: 0.5rem 1rem;
  background-color: rgb(247, 60, 60);
  border-radius: 3px;
  color: white;
  border-color: rgb(247, 60, 60);
}

@media only screen and (min-width: 34rem) {
  body {
    max-width: 80rem;
    margin-bottom: 2rem;
  }
  .image_information {
    margin-top: 3rem;
    display: grid;
    grid-template-columns: 15rem auto;
    grid-gap: 1rem;
  }
  .information1 {
    margin-top: 0.5rem;
    padding-right: 1rem;
    justify-items: start;
  }
}
